<div class="info-columns">
  <div class="info-column">
    <i class="fa fa-calendar-check info-column-icon" aria-hidden="true"></i>
    <p>Voici ce qu’il faut apporter pour la consultation&nbsp;:</p>
    <ul>
      <li>Carte d’identité</li>
      <li>3 vignettes de mutuelles</li>
      <li>Être en ordre de cotisation mutuelle</li>
    </ul>
  </div>

  <div class="info-column">
    <i class="fa fa-parking info-column-icon" aria-hidden="true"></i>
    <p>Le cabinet médical se situe en centre ville. Le parking est <strong>payant</strong> tous les jours de la semaine de 9h à 12h et de 13h à 17h&nbsp;; <strong>gratuit</strong> le week-end et jours fériés.</p>
    <p>La borne de paiement (n°&nbsp;12) se situe juste à l’extérieur du cabinet. Le paiement s’effectue uniquement en espèces&nbsp;; vous devrez introduire votre numéro de plaque d’immatriculation.</p>
  </div>

  <div class="info-column">
    <i class="fa fa-euro-sign info-column-icon" aria-hidden="true"></i>
    <p>Privilégiez le paiement par carte. Le cabinet dispose d’un terminal de paiement Bancontact. Les cartes de crédit ne sont pas acceptées.</p>
    <p>Le Dr Delplace n’est pas conventionnée. À partir du 1er&nbsp;janvier&nbsp;2026, le montant de la consultation s’élèvera à 60&nbsp;€, moyennant un supplément en fonction des actes techniques réalisés. Le tiers payant est systématiquement pratiqué pour les actes techniques.</p>
  </div>
</div>
